@media(max-width: 999px){
    /* phan chung */
    .containers{
        width: 800px;
    }
    /* phan header */
    .input__group{
        width: 400px;
        margin-left: 40px;
    }
    .header__left-search .header__search-list{
        left: 40px;
    }
    /* phan section1 */
    .navbar__menu-topic .menu__topic-item:nth-child(2){
        display: none;
    }
    .navbar{
        min-width: 800px;
    }
    /* phan section2 */
    .section2__body-extra{
        width: 280px;
    }
    .body__content .content__list .item__img{
        flex-shrink: 0;
        width: 140px;
        align-self: flex-start;
    }
    .btn-link{
        font-size: 16px;
        padding: 10px 20px;
    }
    /* Phần section3 và section4 */
    .section4__body-extra,
    .section3__body-extra{
        width: 280px;
    }
    /* Phần section6 */
    .section6__body-extra{
        width: 280px;
    }
    /* Phần section9 */
    .section9__body-list{
        flex-wrap: wrap;
    }
    .body__list-item{
        width: 100%;
    }
    /* Phần footer */
    .footer__level{
        flex-direction: column;
        align-items: center;
    }
    .level__right p{
        text-align: center;
    }
}
@media(max-width: 799px){
     /* phan chung */
     .containers{
        width: auto;
        max-width: 500px;
    }
    /* phan header */
    .header__left-search{
        display: none;
    }
    /* Phần section1 */
    .navbar{
        min-width: auto;
    }
    .navbar__menus{
        justify-content: space-between;
    }
    .navbar .containers{
        width: 100%;
    }
    .menu__full-item{
        width: 100%;
    }
    .navbar__menu-full{
        overflow: auto;
        max-height: 100vh;
    }
    .navbar__menu-full .menu__full-item:last-child{
        padding-bottom: 20px;
    }
    .menu__full-item ul{
        padding-left: 10px;
    }
    .header__right i{
        font-size: 20px;
    }
    .right__icon-user,
    .right__icon-search div{
        padding: 0 4px;
    }
    /* Phần section2 */
    .section2__body-extra{
        display: none;
    }
    .body__content .content__list .item__img{
        width: 128px;
    }
    .body__title .item__content-heading{
        font-size: 28px;
    }
    .body__list .item__content-heading{
        font-size: 18px;
    }
    .content__list .item__content-heading{
        font-size: 18px;
    }
    .body__list .item__footer-line{
        display: none;
    }
    .body__list {
        flex-wrap: wrap;
    }
    .body__list .body__item{
        width: 100%;
        flex-direction: row;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 16px;
    }
    .body__list .body__item:first-child{
        padding-top: 0;
        border-top: none;
    }
    .body__list .body__item .item__img{
        width: 128px;
        aspect-ratio: 155/ 100;
        flex-shrink: 0;
    }
    .body__list .body__item .item__img img{
        width: 100%;
        height: 100%;
    }
    .extra__list-slider{
        margin: 0;
    }
     /* Phần section3 và section4 */
    .section4__body-extra,
    .section3__body-extra{
        display: none;
    }
    /* Phần section5 */
    .section5__content{
        flex-direction: column;
    }
    .section5__content-item{
        width: 100%;
    }
    .section5__content-item4{
        display: none;
    }
    .section5__content-item2 .body__list .body__item{
        width: 100%;
        flex-direction: row !important;
        border: none;
    }
    .section5__content-item2 .body__list .body__item .item__img{
        width: 60px;
        aspect-ratio: 1/1;
        flex-shrink: 0;
    }
    .section5__content-item2 .body__list .body__item .item__img img{
        width: 100%;
        height: 100%;
    }
    /* Phần section6 */
    .section6__body-extra{
        display: none;
    }
    /* Phần section7 */
    .section7__body-extra{
        display: none;
    }
    /* Phần section8 */
    .section8{
        background-color: #f1f1f1;
    }
    .section8__header-left{
        padding: 12px;
        display: block;
    }
    .input__group{
        width: 100%;
        margin-left: 0;
    }
    .header__left-search .header__search-list{
        left: 12px;
        top: calc(100% - 12px);
        width: calc(100% - 24px);
    }
     /* Phần section6 */
    .section6__body-extra{
        display: none;
    }
    /* Phần section9 */
    .section9 .body__main-title{
        margin-top: 30px;
    }
    .section9__body-main .body__list .body__item{
        width: 100% !important;
    }
    .section9 .body__item{
        padding: 0;
        background-color: transparent;
        box-shadow: none;
    }
    .section9__body-main .body__list .body__item{
        padding-top: 16px;
    }
    .section9__body-main .body__list .body__item:first-child{
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    /* Phần section10 */
    .section10 .body__item:first-child{
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}