/* Phần chung */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --node-color: #A7BBD3;
    --menu-color: #2FA1B3;
    --background-color: #FFFFFF;
    --background-hover: #2B94A5;
    --background-hover2: #247A88;
    --background-menu: #f3f3f3;
}
body{
    font-family: "Be Vietnam", sans-serif;
    background-color: var(--background-color);
    background-color: #FFFFFF;
}
.app{
    position: relative;
    transition: all 0.5s;
}
.containers{
    width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}
/* hover */
.content__list-extend a:hover{
    color: var(--background-hover2);
}
.content__list-heading span:hover{
    color: var(--menu-color);
    border-left: 4px solid var(--menu-color);
}
.item__img-icon:hover i{
    color: #2FA1B3;
}
.body__item:hover .item__content-heading,
.level__left-item li a:hover,
.menu__full-item ul li:hover{
    color: var(--menu-color);
}
.item__img:hover img{
    transform: scale(1.1);
}
.btn-link:hover{
    background-color: var(--background-hover2);
    color: white;
}
.extra__list-heading:hover span{
    color: var(--menu-color);
}
.section5__content-item:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
}
.extra__list-heading:hover .extra__line{
    background-color: var(--menu-color);
}
.item__heading-title:hover{
    color: var(--menu-color);
}
.section6__main-header .main__header-item:hover{
    color: var(--menu-color);
}
.main__header-author:hover{
    color: var(--background-hover2);
}
.search__list ul li:hover a{
    background-color: #EEE;
    color: var(--menu-color);
}
/* Phần chung */
body.loading {
    overflow: hidden;
}
.item__img{
    overflow: hidden;
}
.item__img img{
    transition: transform 0.5s ease-in-out;
}
.body__item{
    text-decoration: none;
    color: black;
}
.item__footer{
    display: flex;
    align-items: center;
    gap: 12px;
}
.item__footer-logo{
    height: 16px;
    display: flex;
    align-items: center;
}
.item__footer-logo img{
    height: 100%;
    object-fit: contain;
}
.item__footer-line p,
.item__footer-time p{
    margin: 0;
    font-size: 13px;
    opacity: 0.3;
}
.item__img-icon{
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.3);
}
.item__img-icon i{
    font-size: 12px;
    color: white;
}
/* go up */
.go-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #2FA1B3;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
    display: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 9999;
}

.go-up.show {
    opacity: 1;
    pointer-events: auto;
    display: block;
}

.go-up:hover {
    box-shadow: 0 0 15px 0 rgba(47, 161, 179, 0.7);
}

/* Loading */
.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2001;
}

.loading__loader{
    border: 5px solid #f3f3f3;
    border-top: 5px solid ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: turn 1s linear infinite;
}

@keyframes turn {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* Phần header */
.header__left-logo{
    height: 55px;
    cursor: pointer;
}
.input__group{
    width: 500px;
    margin-left: 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #FFFFFF;
}
.input__group .input{
    outline: none;
    font-size: 13px;
    color: var(--menu-color);
}
.input__group .btn-search{
    outline: none;
    border: none;
    margin-right: 2px;

}
.input__group:hover{
    border: 1px solid var(--menu-color);
}
.input__group .btn-search:hover i{
    color: #2FA1B3;
    background-color: rgba(47, 161, 179, 0.3); 
    cursor: pointer;
}
.right__icon-block {
    width: 30px;
    height: 30px;
    display: flex;
    flex-wrap: wrap; 

}
.right__icon-user{
    cursor: pointer;
}
.right__icon-block i {
    display: block;
    font-size: 9px; 
}
.right__icon-block i:nth-child(3),
.right__icon-block i:nth-child(4){
    margin-top: -8px;
}
.right__icon-block:hover{
    background-color: #f1f1f1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.right__icon-search{
    cursor: pointer;
    opacity: 0.5;
}
.right__icon-user .user__downdrop{
    top: calc(100% + 12px);
    right: -40px;
    border-radius: 5px;
    width: 200px;
    padding: 15px;
    z-index: 2000;
    background-color: #FFF;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.user__downdrop h4{
    font-size: 14px;
}
.user__downdrop-item{
    font-size: 12px;
}
.user__downdrop-item2 .downdrop__items-avatar{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.user__downdrop-item2 h5{
    font-size: 15px;
}
.user__downdrop-item2 p{
    font-size: 10px;
    opacity: 0.5;
    cursor: pointer;
}
.user__downdrop::before{
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: 43px;
    border: 6px solid transparent;
    border-bottom-color: #FFF;
}

.header__left-search .header__search-list{
    top: 100%;
    left: 50px;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 1000;
}
.header__left-search .search__list{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.search__list ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.search__list ul li{
    font-size: 12px;
    cursor: pointer;
}
.search__list li a{
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.modal-body .btn{
    background-color: var(--menu-color);
    color: white;
    border: none;
    cursor: pointer;
}
.custom-btn {
    background-color: #247A88 !important;
}

/* Phần section1 */
.section1{
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.navbar{
    height: 40px;
    background-color: var(--menu-color);
    width: 100%;
    min-width: 1000px;
}
.navbar__menus{
    width: 100%;
    flex-grow: 1;
}
.navbar__menu-lists a{
    padding: 0 12px;
    font-size: 16px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
    color: white;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar__menu-lists .active{
    background-color: var(--background-hover);
}
.navbar__menu-lists a:hover{
    background-color: var(--background-hover);
}
.navbar__menu-topic .menu__topic-item{
    font-size: 13px;
    padding: 0 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.navbar__menu-topic .menu__topic-item:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.navbar__menu-icon{
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    background-color: var(--background-hover);
    padding: 0 12px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar__menu-icon:hover{
    background-color: var(--background-hover2);
}
.navbar__menu-full{
    z-index: 1001;
    top: 100%; 
    left: 0;
    width: 100%;
    background-color: var(--background-menu);
}
.menu__full-item{
    width: 20%;
}
.menu__full-item .menu__full-heading{
    border-left: 4px solid var(--menu-color);
    color: var(--menu-color);
    margin: 5px 0;
}
.menu__full-item ul{
    list-style-type: none;
    font-size: 14px;
    padding: 0;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 16px;
}
.menu__full-item ul li{
    cursor: pointer;
}
/* Phần section2 */

.section2__body-main{
    flex: 1;
    flex-shrink: 1;
}
.body__title{
    position: relative;
    z-index: 0;
}
.body__title .item__img{
    width: 100%;
}
.body__title .item__img img{
    width: 100%;
}
.body__title .body__item{
    flex-direction: column;
}
.body__title .item__content-heading{
    font-size: 32px;
}


.body__list .body__item{
    width: calc(33.3333% - 11px);
}
.body__list .item__img{
    width: 100%;
    aspect-ratio: 198/ 125;
}
.body__list .item__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.body__list .item__content-heading{
    font-size: 20px;
}
.body__list .body__item{
    flex-direction: column;
}
.content__list .body__item{
    padding: 16px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.content__list .item__img{
    flex-shrink: 0;
    width: 155px;
    aspect-ratio: 155/ 100;
    align-self: flex-start;
}
.content__list .item__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content__list .item__content-heading{
    font-size: 20px;
}
.content__list-border .body__item:first-child{
    border-top: none;
}
.content__list-outstanding{
    position: relative;
    height: 280px;
    margin-bottom: 16px;
    overflow: hidden;
}
.content__list-outstanding .content__list-heading{
    margin-bottom: 0;
    padding: 16px 0 0 0;
    font-size: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.content__list-heading span{
    padding-left: 16px;
    border-left: 4px solid #ea6a2b;
    color: #ea6a2b;
    cursor: pointer;
}
.content__list-outstanding a:nth-of-type(1) {
    border: none;
}
.content__list-extend{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1));
}
.content__list-extend a{
    position: absolute;
    bottom: 10px;
    left: 150px;
    text-decoration: none;
    color: var(--menu-color);
}
.section2__body-line{
    width: 100%;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.02);
}
.content__btn{
    display: flex;
    justify-content: center;
}
.btn-link{
    padding: 4px 24px;
    background-color: var(--menu-color);
    font-size: 14px;
    border: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.fa-chevron-right{
    font-size: 12px;
}

.section2__body-extra{
    width: 330px;
    flex-shrink: 0;
}
.extra__list-slider{
    padding: 8px 15px 15px 15px;
    background-color: #F7F7F7;
}

.extra__list-item .item__content-heading{
    font-size: 18px;
}
.extra__list-item .item__img{
    width: 60px;
    height: 60px;
}
.extra__list-item .item__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.extra__list-bg{
    padding: 15px;
    background-color: #F7F7F7;
}
.extra__list-bg img{
    width: 100%;
    object-fit: contain;
}
.slider__body{
    gap: 12px;
}
.slider__heading{
    font-size: 13px;
}
.slider__hidden{
    width: 100%;
    overflow: hidden; 
}
.slider__body{
    position: relative; 
    width: 100%; 
    max-width: 100%; 
    margin-top: 6px;
    gap: 12px;
}
.slider__body-img {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    padding: 4px;
    width: calc(33.3333% - 8px);
    aspect-ratio: 90 / 46;
    background-color: white;
    transition: transform 0.3s ease-in-out;
}
.slider__body-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.extra__list-information{
    padding: 30px 15px 15px 15px;
    background-color: #F7F7F7;
}
.info__heading-logo{
    width: 30px;
    height: 30px;
}
.info__body{
    padding: 15px 15px 0 15px;
    border-top: 3px solid red;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.info__body-item{
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}
.info__body-item div{
    width: 102px;
    flex-shrink: 0;
}
.info__body-item div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.info__body-item b{
    font-size: 13px;
    color: black;
}
.info__body-node{
    padding: 15px 15px 0 15px;
}
.info__body-node ul{
    list-style-type: square;
    font-size: 12px;
}
.info__body-node ul li{
    color: red;
}
.info__body-node ul span{
    color: black;
}
.extra__list-item-2 .content__list{
    padding: 0 15px;
    background-color: #F7F7F7;
}
.extra__list-heading{
    padding-top: 15px;
    color: #ea6a2b;
    cursor: pointer;
}
.extra__list-heading span{
    flex-shrink: 0;
}
.extra__list-item-2 .extra__heading2{
    font-size: 24px;
}
.extra__line{
    width: 100%;
    height: 4px;
    background-color: #ea6a2b;
    margin-bottom: 11px;
}
.extra__line2{
    margin-bottom: 7px;
}

/* Phần section3 và section4 */
.section4__body-main,
.section3__body-main{
    flex: 1;
    flex-shrink: 1;
}
.section4__body-extra,
.section3__body-extra{
    width: 330px;
    flex-shrink: 0;
}
.secion4__heading .heading__title,
.secion3__heading .heading__title{
    font-size: 16px;
    color: var(--menu-color);
}
/* Phần section5 */
.secion5__heading .heading__title{
    font-size: 16px;
    color: var(--menu-color);
    padding-left: 15px;
}
.section5 .containers{
    padding: 0;
}
.section5__content-item{
    width: calc(50% - 0.5px);
    flex-shrink: 0;
    padding: 8px 15px 0 15px;
}
.section5__content-item .body__item{
    border: none;
}
.section5__content .content__list .item__img{
    width: 60px;
    height: 60px;
}
.section5__content-item1 .content__list{
    display: flex;
    flex-wrap: wrap;
}
.section5__content-item4{
    margin: 30px 0 30px 0;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.05);
}
.section5__content-item1 .body__item{
    width: 50%;
}
.section5__content-item1 .body__item .item__content-heading{
    font-size: 15px;
}
.item__heading-border{
    height: 25px;
    width: 25px;
    clip-path: polygon(9% 0, 34% 0, 25% 100%, 0% 100%);
    background-color: var(--menu-color);
}
.item__heading-title{
    font-size: 20px;
    cursor: pointer;
}
.section5__content-item2 .body__item .item__content-heading{
    font-size: 17px;
}
.section5__content-item3 .item__img {
    width: 180px;
    height: 120px;
}
/* Phần section6 */
.section6__body-main{
    flex: 1;
    flex-shrink: 1;
}
.section6__body-extra{
    width: 330px;
    flex-shrink: 0;
}
.section6__main-header .main__header-title{
    font-size: 30px;
    font-weight: bold;
}
.section6__main-header .main__header-item{
    font-size: 16px;
    opacity: 0.8;
    cursor: pointer;
}
.main__header-author{
    font-size: 16px;
    color: var(--menu-color);
    cursor: pointer;
}
.main__header-tags{
    font-size: 12px;
    opacity: 0.7;
}
.main__header-time{
    font-size: 13px;
    opacity: 0.5;
}
.main__header-tags div{
    background-color: #ccc;
}
.main__body-introduce p:first-child{
    font-weight: bold;
}
.main__body-items .body__items-img{
    width: 100%;
}
.main__body-items .body__items-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main__body-items .body__items-node{
    margin-top: 8px;
    font-size: 14px;
    opacity: 0.7;
    text-align: center;
    font-style: italic;
}
.main__body-introduce p span,
.main__body-items .body__items-content span{
    opacity: 0.9;
    font-style: italic;
}
/* Phần section7 */
.section7 .body__item:first-child{
    border-top: none;
   
}
.section7__body-main{
    flex: 1;
    flex-shrink: 1;
}
.section7__body-extra{
    width: 330px;
    flex-shrink: 0;
}
.secion7__heading .heading__title{
    font-size: 16px;
    color: var(--menu-color);
}
.secion7__heading .heading__icon{
    color: rgba(0, 0, 0, 0.5);
}
.secion7__heading .heading__title2 a{
    text-decoration: none;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    display: block;
}
/* section9 */
.section9{
    background: url(../img/bg3.jpg) no-repeat;
}
.section9 .body__main-title{
    font-size: 30px;
    color: white;
    padding: 4px 16px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 100px 0 20px 0;
}
.section9 .body__main-title .body__item{
    display: block;
    height: 100%;
}
.section9__body-list{
    display: flex;
    gap: 20px;
}
.body__list-item{
    width: calc(50% - 10px);
}
.section9__body-main .body__list{
    flex-wrap: wrap;
}
.section9__body-main .body__list .body__item{
    width: calc(50% - 8px) !important;
}
.section9 .body__item{
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.section9 .body__item .item__img {
    border-radius: 0 !important;
}
/* section10 */
.section10__body .body__list{
    flex-wrap: wrap;
}
/* Phần footer */
.footer__top{
    background-color: var(--menu-color);
}
.footer__header{
    height: 50px;
}
.footer__header-logo{
    height: 100%;
    display: flex;
    align-items: center;
}
.footer__header-logo img{
    height: 100%;
}
.footer__content{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.bull{
    opacity: 0.3;
}
.footer__content a{
    color: black;
    text-decoration: none;
    font-size: 13px;
    opacity: 0.5;
    text-wrap: nowrap;
}
.footer__level .level__left-item{
    list-style-type: none;
    padding: 0;
}
.footer__level .level__left-item li{
    font-size: 13px;
}
.level__left-item li a{
    text-decoration: none;
    color: gray;
}
.level__right{
    font-size: 11px;
}
.level__right p{
    margin: 0;
    text-align: right;
    opacity: 0.5;
}
